/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&soft_off {
    hold-time-ms = <5000>; // Only turn off it the key is held for 5 seconds or longer.
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
                        bindings = <
                                &kp ESC    &kp N1  &kp N2  &kp N3  &kp N4     &kp N5                                             &kp N6     &kp N7         &kp N8        &kp N9     &kp N0     &kp MINUS
                                &kp TAB    &kp Q   &kp W   &kp E   &kp R      &kp T                                              &kp Y      &kp U          &kp I         &kp O      &kp P      &kp EQUAL
                                &kp LSHFT  &kp A   &kp S   &kp D   &kp F      &kp G                                              &kp H      &kp J          &kp K         &kp L      &kp SEMI   &kp SQT
                                &kp LCTRL  &kp Z   &kp X   &kp C   &kp V      &kp B                                              &kp N      &kp M          &kp COMMA     &kp DOT    &kp SLASH  &kp RSHFT
                                                   &kp LWIN     &kp LALT                                                                                   &kp K_UNDO    &kp K_REDO
                                                                &kp K_VOL_DN  &kp K_VOL_UP                                   &kp BACKSPACE &kp SPACE
                                                                &kp K_MUTE    &mo 1                                          &kp PSCRN     &kp RET
                                                                &tog 3        &mo 2                                          &kp HOME      &kp END
                                        >;
                                };

                Lower_layer {
                        display-name = "Lower Layer";
                        bindings = <
                                &kp ESC    &none    &none      &none  	    &none     &none                    			&kp KP_NUM   &kp KP_SLASH 	&kp KP_ASTERISK    &kp MINUS         &kp KP_PLUS  &kp MINUS 
                                &none 	   &none    &none      &none 	    &none     &kp LBRC                         	        &kp RBRC     &kp KP_NUMBER_7    &kp KP_NUMBER_8    &kp KP_NUMBER_9   &none        &none  
                                &kp LSHFT  &kp HOME &kp PG_UP  &kp PG_DN    &kp END   &kp LPRN                                  &kp RPRN     &kp KP_NUMBER_4    &kp KP_NUMBER_5    &kp KP_NUMBER_6   &none        &none  
                                &kp LCTRL  &none    &none      &none 	    &none     &none                        		&none 	     &kp KP_NUMBER_1    &kp KP_NUMBER_2    &kp KP_NUMBER_3   &none        &none  
                                                    &kp LGUI   &kp LALT            							                        &kp KP_NUMBER_0    &kp KP_DOT 
                                                                                &none	   &none  	                &kp PIPE &kp BSPC 
                                                                                &none 	   &mo 1           	        &none &none 
                                                                                &tog 3     &mo 2                        &none &none
                                        >;
                                };
                Raise_layer {
                        display-name = "Raise Layer"; 
                        bindings = <
                                        &kp F1 	  &kp F2   &kp F3    	&kp F4    &kp F5  &kp F6                   		&kp F7    &kp F8    &kp F9 &kp F10  &kp F11   &kp F12 
                                        &none     &none    &kp U        &none     &none  &none                    		&kp LBKT  &kp RBKT  &none  &kp INS  &kp HOME  &kp PGUP
                                        &kp LSHFT &kp LEFT &kp DOWN  	&kp RIGHT &none  &none                    		&kp NUBS  &kp GRAVE &none  &kp DEL  &kp END   &kp PGDN
                                        &kp LCTRL &none    &none     	&none     &none  &bootloader				&none     &none     &none  &none    &none     &kp CAPS
                                                           &kp LGUI     &kp LALT             			                  	            &none  &none
                                                                                &none	        &soft_off      		&none &none 
                                                                                &studio_unlock 	&mo 1        	        &none &none 
                                                                                &tog 3          &mo 2             	&none &none		
                                        >;		

                                 };
                Game_layer {
                        display-name = "Game Layer"; 
                        bindings = <
                                        &kp ESC    &kp 1    &kp 2    &kp 3    &kp 4    &kp 5                            &kp 6    &kp 7    &kp 8     &kp 9    &kp 0     &kp MINUS 
                                        &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T                            &kp Y    &kp U    &kp I     &kp O    &kp P     &kp EQUAL 
                                        &kp LCTRL  &kp A    &kp S    &kp D    &kp F    &kp G                            &kp H    &kp J    &kp K     &kp L    &kp SEMI  &kp SQT 
                                        &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B                            &kp N    &kp M    &kp COMMA &kp DOT  &kp SLASH &kp RSHFT 
                                                        &kp LGUI &kp LALT                                                        		  &kp K_UNDO    &kp K_REDO 
                                                                        &kp SPACE &kp RET                     	 	 &kp BACKSPACE &kp SPACE 
                                                                        &none     &mo 1				         &kp UP    &kp RIGHT 
                                                                        &tog 4    &mo 2                         	 &kp LEFT  &kp DOWN		
                                        >;	
                                };
                Maple_layer {
                        display-name = "Maple Layer"; 
                        bindings = <
                                        &kp ESC    &kp 1    &kp 2    &kp 3      &kp 4    &kp 5                            &kp 6    &kp 7    &kp 8     &kp 9    &kp 0     &kp MINUS 
                                        &kp TAB    &kp Q    &kp UP    &kp E     &kp R    &kp T                            &kp Y    &kp U    &kp I     &kp O    &kp P     &kp EQUAL 
                                        &kp LCTRL  &kp LEFT &kp DOWN  &kp RIGHT &kp F    &kp G                            &kp H    &kp J    &kp K     &kp L    &kp SEMI  &kp SQT 
                                        &kp LSHFT  &kp Z    &kp X    &kp C      &kp V    &kp B                            &kp N    &kp M    &kp COMMA &kp DOT  &kp SLASH &kp RSHFT 
                                                        &kp LGUI &kp LALT                                                        		  &kp K_UNDO    &kp K_REDO 
                                                                        &kp SPACE &kp RET                     	 	 &kp BACKSPACE &kp SPACE 
                                                                        &none 	   &mo 1				 &kp UP    &kp RIGHT 
                                                                        &tog 4    &mo 2                         	 &kp LEFT  &kp DOWN		
                                        >;	
                                };
                };
};